// Colors
$header_background: #F1F1F1;
$header_font_color: #000;
$header_navigation-item_hover_background: #6991FF;
$header_font_hover_color: #fff;

// Sizes
$header_height: 125px;
$header_logo_font-size: 40px;
$nav-item_font-size: 25px;
$nav-item_padding: 20px 10px;
$nav-item_border-radius: 5px;