@mixin container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 2.2rem 10rem;
    @media screen and (max-width: 744px){
        padding: 2.2rem 1.6rem;
    }
    @media screen and (max-width: 444px){
        padding: 2.2rem 1.6rem;
    }
}

@mixin flexStartCenter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin flexBetweenStart {
    display: flex;
    justify-content: space-between;
}
@mixin flexBetweenCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flexEvenlyCenter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}