// Fonts 
$roboto:      'Roboto', sans-serif;
$baskerville: 'Libre Baskerville', serif;


// Colors 
$color-primary-dark:     #343D33;
$color-primary-light:    #333333;
$color-menu-item:        #414840;
$color-menu-item-mobile: #ffffff;
$color-menu-item-active: #475F45;


// Font sizes
$fontSize-menu-item: 1.4rem;
