// Font Family
$ubuntu: 'Ubuntu', sans-serif;

// Main Colors
$switcher-input-background: #020f47;
$switcher-input-checker-background: deeppink;
$table-background: #7c7c7c1f;
$best-value-background: #222272;
$choose-plan-btn-background: #06D6A0;

// Main font sizes
$h3-fontSize: 24px;
$price-fontSize: 50px;
$description-fontSize: 15px;
$best-value-sticker-fontSize: 20px;