.header {
    @include container;
    @include flexBetweenStart;
    &__logo-box {
        display: flex;
    }
    &__logo {
        border-radius: 50%;
        margin-right: 1.5rem;
    }
    &__text-box {
        @include flexStartCenter;
    }
    &__menu-box {
        @include flexBetweenStart;
        width: 100%;
        max-width: 833px;
        span {
            display: none;
        }
        ul {
            @include flexEvenlyCenter;
            width: 100%;
            list-style-type: none;
            li {
                &:hover a{
                    color: $color-menu-item-active; 
                }  
            }
        }
    }
    &__menu-item {
        font-size: $fontSize-menu-item;
        font-weight: 700;
        line-height: 1.7rem;
        letter-spacing: .25rem;
        text-transform: uppercase;
        text-decoration: none;
        color: $color-menu-item;
        &.active {
            color: $color-menu-item-active;  
        }
    }
}

@media screen and (max-width: 1200px){
    .header {
        &__menu-box {
            opacity: 0;
            padding-top: 4rem;
            max-width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: $color-menu-item-active;
            transition: all .5s ease-in-out;
            flex-direction: column;
            justify-content: flex-start;
            &::after {
                content: url("../../img/tablet-menu-bg.png");
                position: absolute;
                right: 0;
                bottom: 0;
                opacity: .1;
                @media screen and (max-width: 744px){
                    content: url("../../img/mobile-menu-bg.png");
                }
            }
            span {
                font-size: 3.4rem;
                line-height: 3.7rem;
                display: block;
                text-align: center;
                color: $color-menu-item-mobile;
                margin-bottom: 10rem;
                @media screen and (max-width: 744px) {
                    margin-bottom: 7rem;
                }
            }
            ul {
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                li {
                    margin-bottom: 4rem;
                    a {
                        color: $color-menu-item-mobile;
                        font-weight: 400;
                        &.active {
                            color: $color-menu-item-mobile;
                            font-weight: 900;
                        }
                    }
                    &:hover a {
                        color: $color-menu-item-mobile;
                    }
                    &:last-child a {
                        border:.2rem solid $color-menu-item-mobile;
                    }
                }
            }
        }
    }
}
